<h2>Edit lotto result to day</h2>
<%= @ldr.lotto_day.description %>
<br/>
<%= @ldr.lotto_day.day_str %>
<hr size=1 />
<%= render :partial => 'form' %>
<hr size=1 />
<%= link_to 'Return to lotto_day', { :controller => :lotto_days, :action => :show, :id => @ldr.lotto_day.id, :project_id => @project.identifier } %>
